/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

/* Título principal */
h2 {
  color: #f45000;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

/* Contêiner para os cards de avaliação */
.reviews-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a linha seguinte */
  justify-content: center; /* Centraliza os cards */
}

/* Card de avaliação */
.review-card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s;
  width: 250px; /* Defina a largura dos cards */
  flex-grow: 1; /* Faz com que os cards ocupem o espaço disponível */
}

/* Efeito de hover nos cards */
.review-card:hover {
  transform: translateY(-5px);
}

/* Estilo dos parágrafos dentro dos cards */
.review-card p {
  font-size: 1em;
  margin: 10px 0;
  color: #fff;
}

.review-card p strong {
  color: #f45000; /* Cor laranja para os títulos */
}

/* Caso o usuário não tenha feito avaliações */
div p {
  text-align: center;
  font-size: 1.2em;
  color: #000000;
}
