*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,footer {
  background-color: black;
  color: orangered;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 22px;
  padding: 15px 0;
}
header h2 {
  font-size: 30px;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul a {
  text-decoration: none;
  color: orangered;
  padding: 0 15px;
  font-size: 20px;
  text-transform: inherit;
}
nav ul app-logout {
  display: inline-block;
}

nav ul a:hover {
  color: #ffffff;
}