<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required />

        <label for="password">Senha:</label>
        <div class="password-container">
            <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
                required />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                {{ showPassword ? 'Esconder' : 'Mostrar' }}
            </button>
        </div>

        <label for="">
            Não tem conta? Crie agora em
            <a routerLink="/cadastro">Cadastrar</a>
        </label>

        <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
</div>