<div class="cadastro-container">
  <h2>Cadastrar</h2>
  <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
    <label for="name">Nome:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required />

    <label for="password">Senha:</label>
    <div class="password-container">
      <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password"
        required />
      
    </div>
    <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
      {{ showPassword ? '👁️' : '👁️‍🗨️' }}
    </button>

    <label for="">Já tem conta? Entre agora em <a routerLink="/login">Login</a></label>
    <button type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
  </form>
</div>