<div class="texto">
    <div class="paragrafo">
        <p> O software SoundGroove é uma plataforma interativa onde os usuários podem pesquisar, 
            avaliar e comentar sobre músicas. Ao acessar a aplicação pela primeira vez, o usuário criará um 
            perfil e poderá fazer o login. No software, o usuário pode buscar músicas pelo nome da mesma,
             pelo nome do artista ou pelo nome do álbum. Após encontrar a música desejada, 
             ele pode avaliar a música com estrelas (de 1 a 5) e adicionar um comentário sobre ela. O sistema 
             também permite que o usuário visualize as avaliações feitas por outros usuários. Após avaliar
              determinada música, no seu perfil será registrado seu histórico de avaliações de músicas.</p>
    </div>
</div>
